html {
    min-width: 300px;
}
body{
  overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

.title-before{
  position: absolute;
  left: 0;
  // top = half of line-height
  height: 2px;
  width: 76px;
  background-color: $grey;
}

.title-has-before{
  position: relative;
  display: block;
  padding-left: 88px;
}

.read-more{
  line-height: 22px;
  font-weight: 600;
  padding-right: 26px;
  position: relative;
  @include font-size(18);
  text-transform: uppercase;
  text-decoration: none;

  &:after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 8px;
    height: 13px;
    background: url('../../img/read-more-arrow.svg') no-repeat center;
  }
}


.section-separator{
  margin-bottom: 140px;

  .container-small{
    text-align: center;
    position: relative;
    padding-top: 230px;

    .line-before{
      position: absolute;
      width: 2px;
      height: 198px;
      background-color: $grey;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }

    h1{
      @include font-size(64);
      line-height: 80px;
    }
  }
}
