// Settings
$main-font: 'Open Sans',sans-serif;

body {
    font-family: $main-font;
    color: #000;
    font-weight: 300;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0 0 15px;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Lora', serif;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Lora', serif;
}

p{
  @include font-size(16);
  line-height: 28px;
  margin-bottom: 35px;
}

a{
  color: #000;
}
