.contact-form{
  margin-bottom: 182px;

  form{
    width: 100%;
    max-width: 548px;
    margin-left: auto;
    margin-right: auto;

    .form-field{
      display: block;
      position: relative;
      margin-bottom: 45px;
    }

    label{
      position: absolute;
      left: 0;
      bottom: 0;
      line-height: 46px;
      color: #c6c6c6;
      @include font-size(22);
      z-index: -1;

      &.active{
        line-height: 20px;
        top: -20px;
        color: #000;
        @include font-size(16);
      }
    }

    input{
      appearance: none;
      border: none;
      height: 46px;
      border-bottom: 1px solid #e5e5e5;
      display: block;
      width: 100%;
      color: #000;
      line-height: 46px;
      @include font-size(22);
      background-color: transparent;

      &:focus{
        outline: none;
        border-color: #000;
      }
    }

    .button-container{
      text-align: center;
      display: block;
      margin-bottom: 45px;
    }

    button{
      appearance: none;
      border: none;
      display: inline-block;
      padding: 20px;
      background-color: #fff;
      line-height: 22px;
      font-weight: 600;
      padding-right: 26px;
      position: relative;
      @include font-size(22);
      text-transform: uppercase;
      text-decoration: none;

      &:after{
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 8px;
        height: 13px;
        background: url('../../img/read-more-arrow.svg') no-repeat center;
      }

      &:focus{
        outline: none;
      }
    }

    .form-text{
      @include font-size(10);
      line-height: 20px;
    }
  }
}
