footer{
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;

  .footer-logo{
    float: left;

    img{
      height: 30px;
      width: auto;
    }
  }

  .footer-menu{
    float: right;

    ul{
      list-style: none;

      li{
        float: left;
        color: #fff;
        line-height: 30px;

        &.sep{
          font-size: 13px;
          margin-left: 3px;
          margin-right: 3px;
        }

        a{
          color: #fff;
          text-decoration: none;
          @include font-size(16);
          line-height: 30px;
        }
      }
    }
  }
}
