.full-image-section{
  margin-bottom: 160px;

  .full-image-container{
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background-position: center;
    background-size: cover;
  }

  .image-caption{
    .container-mid{
      padding-top: 20px;
      padding-bottom: 20px;
      @include font-size(16);
    }
  }

}
