// Variables
$gutter: 30px;
$gridwidth: 1520px;
$gridwidth-mid: 1140px;
$gridwidth-small: 940px;

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    position: relative;
    width: 100%;
    max-width: $gridwidth;
}

.container-mid {
    margin-right: auto;
    margin-left: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    position: relative;
    width: 100%;
    max-width: $gridwidth-mid;
}

.container-small {
    margin-right: auto;
    margin-left: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    position: relative;
    width: 100%;
    max-width: $gridwidth-mid;
}

.two-col-spaced{
    width: 47%;

    &:nth-of-type(odd){
        float: left;
    }

    &:nth-of-type(even){
        float: right;
    }
}

.col-g-1{
    float: left;
    width: 38%;
}

.col-g-2{
    float: left;
    width: 62%;
    padding-right: 140px;
}

.col-3-1{
    float: left;
    width: 33%;
}

.col-3-2{
    float: left;
    width: 66%;
}
