.menu-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../img/menu-bg.png') repeat;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;

  .menu-container{
    width: 100%;
    max-width: 840px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;

    .large-menu{
      ul{
        list-style: none;

        li{
          display: block;
          margin-bottom: 60px;

          a{
            display: block;
            color: #fff;
            @include font-size(64);
            font-family: 'Lora', serif;
            font-weight: 400;
            text-decoration: none;
          }
        }
      }
    }

    .small-menu{
      padding-left: 140px;
      ul{
        list-style: none;

        li{
          display: block;
          margin-bottom: 30px;

          a{
            display: block;
            color: #fff;
            @include font-size(32);
            font-weight: 300;
            text-decoration: none;
          }
        }
      }
    }
  }

  &.active{
    opacity: 1;
    visibility: visible;
  }
}

header {
    padding: 50px 0;
    background-color: transparent;
    margin-bottom: 68px;
    position: relative;
    z-index: 101;

    .main-logo{
      height: 34px;
      float: left;

      svg{
        height: 34px;
        width: auto;

        path{
          transition: fill 0.3s;
        }
      }
    }

    #main-menu{
      display: block;
      float: left;
      margin-left: 55px;

      ul{
        list-style: none;

        li{
          float: left;
          margin-right: 30px;

          a{
            display: block;
            line-height: 34px;
            text-decoration: none;
            text-transform: uppercase;
            @include font-size(18);
          }
        }
      }
    }

    #menu-toggle{
      float: right;
      height: 20px;
      margin-top: 6px;
      cursor: pointer;

      span{
        display: inline-block;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
        @include font-size(18);
      }

      .toggle-icon{
        height: 20px;
        width: 34px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 14px;

        span{
          display: block;
          background-color: #000;
          width: 34px;
          height: 2px;
          transition: all 0.3s;
        }

        .line-2{
          position: absolute;
          top: 50%;
          margin-top: -1px;
        }

        .line-3{
          position: absolute;
          bottom: 0;
        }
      }
    }

    &.active{

      .main-logo{
        svg{
          path{
            fill: #fff;
          }
        }
      }

      #main-menu{
        display: none;
      }

      #menu-toggle{
        svg{
          path{
            fill: #fff;
          }
        }

        .toggle-text{
          color: #fff;
        }
      }

      .toggle-icon{
        height: 34px;

        span{
          background-color: #fff !important;
        }

        .line-1{
          opacity: 0;
          visibility: hidden;
        }

        .line-2{
          transform: rotate(45deg);
        }

        .line-3{
          bottom: 50% !important;
          margin-bottom: -1px;
          transform: rotate(-45deg);
        }
      }
    }
}

.loading-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 200;

  .loading-logo{
    width: 122px;
    height: 34px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
