.intro-section{
  margin-bottom: 170px;
  
  .intro-sub-title{
    font-weight: 300;
    line-height: 40px;
    @include font-size(28);

    .title-before{
      top: 22px;
    }
  }

  .intro-title{
      @include font-size(80);
  }

}
