.jobs-section{
  margin-bottom: 200px;
  
  .container-small{
    margin-bottom: 120px;

    .jobs-intro{
      margin-bottom: 90px;

      h2{
        font-weight: 400;
        font-family: 'Lora', serif;
        line-height: 52px;
        @include font-size(40);
        padding-left: 86px;
        margin-bottom: 30px;

        .title-before{
          top: 28px;
        }
      }
    }

    .jobs-list{
      list-style: none;

      .job-listing{
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
        position: relative;

        &:last-of-type{
          border-bottom: none;
        }

        a{
          display: block;

          span{
            padding-top: 20px;
            padding-bottom: 36px;
          }

          .listing-title{
            font-family: 'Lora', serif;
            font-weight: 400;
            @include font-size(24);
            line-height: 32px;
          }

          .listing-text{
            font-weight: 300;
            @include font-size(16);
            text-transform: uppercase;
            line-height: 32px;
            padding-left: 20px;
            padding-right: 35px;
          }
        }

        &:after{
          content: '';
          position: absolute;
          right: 20px;
          top: 41%;
          transform: translate(0, -50%);
          width: 8px;
          height: 13px;
          background: url('../../img/read-more-arrow.svg') no-repeat center;
        }
      }
    }
  }
}
