.projects-section{
  margin-bottom: 160px;
  .project-item{
      width: 48.5%;
  }

  .project-text-container{
    background-color: #fff;
    padding-top: 40px;
    padding-left: 135px;
    padding-right: 30px;
    padding-bottom: 40px;
    display: block;
    position: relative;

    span{
      display: block;
    }

    .title-before{
      top: 48px;
    }

    .project-sub-title{
      margin-bottom: 14px;
    }

    .project-title{
      @include font-size(40);
      font-family: 'Lora', serif;
      line-height: 44px;
      margin-bottom: 13px;
    }

    .project-text{
      text-transform: uppercase;
      @include font-size(12);
    }
  }
}
