@media only screen and (max-width: 1130px) {
  .intro-section .intro-title{
    @include font-size(50);
  }
}

@media only screen and (max-width: 1010px) {
  .jobs-section .container-small .jobs-intro h2{
    line-height: 52px;
    @include font-size(30);
    padding-right: 30px;
  }

  .section-separator .container-small h1{
      @include font-size(44);
      line-height: 60px;
    }

    .projects-section .project-text-container .project-title{
      @include font-size(32);
    }
}

@media only screen and (max-width: 970px) {
  .why-work-section .container #image-slider .single-slide {
    .col-1{
      width: 48%;
      margin-bottom: 4%;
    }

    .col-2{
      width: 48%;
      margin-right: 0;
      margin-left: 4%;
      margin-bottom: 4%;
    }

    .col-3{
      width: 100%;
    }
  }
}

@media only screen and (max-width: 870px) {
  .col-g-1{
    width: 100%;
  }
  .col-g-2{
    width: 100% !important;
    padding-right: 0;
  }
}

@media only screen and (max-width: 830px) {
  .two-col-spaced{
      width: 100%;
      float: none;

      &:first-of-type{
        margin-bottom: 30px;
      }
  }

  .projects-section .project-item{
    width: 100%;
    float: none;

    &:first-of-type{
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 755px) {
  header #main-menu{
    display: none;
  }
}

@media only screen and (max-width: 690px) {
    .jobs-section .container-small .jobs-list .job-listing a .listing-title{
      @include font-size(18);
    }

    .jobs-section .container-small .jobs-list .job-listing a .listing-text{
        @include font-size(12);
    }

    .col-3-1{
      width: 50%;
    }

    .col-3-2{
      width: 50%;
    }
}

@media only screen and (max-width: 630px) {
  .intro-section .intro-title{
    @include font-size(40);
  }

  .intro-section .intro-sub-title{
    @include font-size(20);
  }

  .why-work-section .container-mid .title-has-before{
    @include font-size(30);
    padding-left: 70px !important;
  }

  .jobs-section .container-small .jobs-intro h2{
    padding-left: 70px !important;
    padding-right: 0 !important;
  }

  .title-before{
    width: 55px;
  }

  .title-has-before{
    padding-left: 67px;
  }

  .section-separator .container-small h1{
      @include font-size(34);
      line-height: 50px;
    }

    .section-separator .container-small{
      padding-top: 170px;
    }

    .section-separator .container-small .line-before{
      height: 138px;
    }

    .projects-section .project-text-container .project-title{
      @include font-size(28);
    }

    .projects-section .project-text-container{
      padding-left: 66px;
    }

    .menu-overlay .menu-container{
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      top: 55%;
    }

    .menu-overlay .menu-container .small-menu{
      padding-left: 0;
    }

    .menu-overlay .menu-container .large-menu ul li a{
      @include font-size(28)
    }

    .menu-overlay .menu-container .two-col-spaced{
      margin-bottom: 0 !important;
    }

    .menu-overlay .menu-container .small-menu ul li a{
      display: block;
      color: #fff;
      @include font-size(28);
      font-family: 'Lora', serif;
      font-weight: 400;
      text-decoration: none;
    }

    .menu-overlay .menu-container .large-menu ul li{
      margin-bottom: 30px;
    }
}

@media only screen and (max-width: 430px) {
  .intro-section .intro-title{
    @include font-size(34);
  }

  .intro-section .intro-sub-title{
    @include font-size(18);
  }
  .why-work-section .container-mid .title-has-before{
    @include font-size(26);

    .title-before{
      top: 27px;
    }
  }

  .jobs-section .container-small .jobs-intro h2{
    @include font-size(26);

    .title-before{
      top: 27px;
    }
  }

  .projects-section .project-text-container .project-title{
    @include font-size(24);
  }

  .projects-section .project-text-container{
    padding-left: 0;

    .title-before{
      display: none;
    }
  }

  footer .footer-menu ul li a{
    @include font-size(12);
  }

  .menu-overlay .menu-container{
    top: 60%;
  }

  .menu-overlay .menu-container .large-menu ul li a{
    @include font-size(24);
  }

  header #menu-toggle .toggle-text{
    display: none;
  }

  .why-work-section .container #image-slider .owl-dot{
    width: 36px;
    margin-left: 25px;
  }

  .menu-overlay .menu-container .small-menu ul li a{
    @include font-size(24);
  }
}
