.why-work-section{
  margin-bottom: 120px;

  .container-mid{
    margin-bottom: 110px;

      .text-col{
        width: 100%;
        max-width: 455px;
      }

      .title-has-before{
        font-weight: 400;
        font-family: 'Lora', serif;
        line-height: 52px;
        @include font-size(40);
        padding-left: 100px;
        margin-bottom: 30px;

        .title-before{
          top: 30px;
        }
      }
  }

  .container{
    #image-slider{
      padding-bottom: 60px;
      .single-slide{
        .col{
          float: left;
        }

        .col-1{
          width: 31.11842105263158%;
        }

        .col-2{
          width: 31.11842105263158%;
          margin-left: 2.6644736842%;
          margin-right: 2.6644736842%;
        }

        .col-3{
          width: 32.43421052631579%;
        }
      }

      .owl-dots{
        text-align: center;
        margin-top: 35px;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .owl-dot{
        display: inline-block;
        width: 44px;
        height: 6px;
        background-color: #d2d3d4;
        margin-left: 30px;

        &.active{
          background-color: #000;
        }
      }
    }
  }
}
